@import url('https://fonts.googleapis.com/css?family=Lato');

col-12 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

body {
    font-family: 'Lato', sans-serif;
}

.trasparent {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
}

.trasparent:hover,
.trasparent:focus,
.trasparent:active {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

#navigation {
    top: 52em;
}

#controls {
    margin-top: 20em;
}

.hide {
    display: none !important;
}

.show {
    display: flex !important;
}


.mauto {
    margin: 0 auto;
}



main {
    height: 100%;
}

.header-image-container {
    height: 100vh;
    background: url(../images/headerbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.letters-box {
    width: 50%;
    height: 40%;
    background: rgba(54, 54, 54, 0.932);
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.bg-black {
    background-color: black
}

.color-white {
    color: white !important;
}

.color-black {
    color: black !important;
}

.name,
.prof {
    width: 100%;
    height: 50%;
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prof {
    align-items: flex-start;
}

.container-fluid {
    padding: 0;
}

.about-me-row {
    width: 100%;
    height: 83.3vh;
    display: flex;
    align-items: center;
}

.row-text-2 {
    margin-top: 10%;
}

.col-image-circle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.education-box1 {
    margin: 0 auto;
    width: 30%;
    height: 40%;
    background: white;
    opacity: 1;
}

#educationSection {
    height: 100vh !important;
    background-color: #828282;
}

.contact-row{
    display: flex;
    align-items: center;
    justify-content: center;
}

#contactSection{
    display: flex;
    flex-wrap: wrap;
}

.cf-contact{
    align-items: center;
    justify-content: center;
    display: flex;
}

.education-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 45%;
    margin: 0 auto;
}

.cf-education {
    height: 100%;
}

.education-row-in-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.education-row-in-down {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 50%;
}


.ed-title-row {
    justify-content: center;
}

.education-title {
    margin-top: 1%;
}


#skillsSection {
    background: #000;
    height: 100vh;
}

#skillsSection .skillsContainer {
    margin-top: 13em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#skillsSection .skillsContainer .skillContainer {
    background: #3F535E;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 270px;
    width: 300px;
}




.maincontainer,
.maincontainer01,
.maincontainer02 {
    background: #3F535E;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 270px;
    width: 300px;
}

.progress-container,
.progress-container01,
.progress-container02 {
    -webkit-box-shadow: inset 0 0 0 1px #D1D2D3, inset 0 -1px 25px 0 #CFCFCF;
    box-shadow: inset 0 0 0 1px #D1D2D3, inset 0 -1px 25px 0 #CFCFCF;
    border: 2px solid #fff;
    border-radius: 1000px;
    position: absolute;
    background: #fff;
    height: 250px;
    width: 250px;
}

.ima {
    height: 90px;
    width: 90px;
    margin: 25px 0 0 0px;
}

.ima01 {
    height: 90px;
    width: 70px;
    margin: 25px 0 0 0px;
}

.ima02 {
    height: 100px;
    width: 100px;
    margin: 18px 0 0 0px;
}

.progress-circle,
.progress-circle01,
.progress-circle02 {
    -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
    -webkit-box-shadow: 0 -1px 0 0 #D6D7D8;
    box-shadow: 0 -1px 0 0 #D6D7D8;
    margin: -82px 0 0 -82px;
    background: #f3F3F3;
    /*borde exterior del circulo */
    border-radius: 100%;
    position: absolute;
    overflow: hidden;
    height: 164px;
    width: 164px;
    left: 50%;
    top: 50%;
}

.p-f,
.p-h,
.p-f01,
.p-h01,
.p-f02,
.p-h02 {
    clip: rect(0, 164px, 164px, 82px);
    position: absolute;
    overflow: hidden;
    height: 164px;
    width: 100%;
    left: 0%;
}

.p-f,
.p-f01,
.p-f02 {
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    left: 0;
}

.p-f:before,
.p-f01:before,
.p-f02:before {
    content: "";
    position: absolute;
    height: 164px;
    width: 50%;
    left: 0%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -moz-transform-origin: 100% 50%;
    -webkit-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.p-f:before {
    background: #F16529;
}

.p-f01:before {
    background: #2262AF;
}

.p-f02:before {
    background: #E5A228;
}

.p-h:before,
.p-h01:before,
.p-h02:before {
    content: "";
    position: absolute;
    height: 164px;
    width: 50%;
    left: 0%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -moz-transform-origin: 100% 50%;
    -webkit-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.p-h:before {
    background: #F16529;
}

.p-h01:before {
    background: #2262AF;
}

.p-h02:before {
    background: #E5A228;
}

.progress-circle #progress,
.progress-circle01 #progress01,
.progress-circle02 #progress02 {
    -webkit-box-shadow: 0 1px 0 0.5px #D6D7D8;
    box-shadow: 0 1px 0 0.5px #D6D7D8;
    font-family: "Montserrat", sans-serif;
    margin: -70px 0 0 -70px;
    border-radius: 100%;
    position: absolute;
    text-align: center;
    line-height: 140px;
    background: #fff;
    font-size: 34px;
    color: #46494D;
    height: 140px;
    width: 140px;
    z-index: 1;
    left: 50%;
    top: 50%;
}

#progreso,
#progreso01,
#progreso02 {
    text-transform: uppercase;
    position: absolute;
    color: #828282;
    font-size: 10px;
    bottom: 10px;
    left: 35%;
}


#contactSection {
    height: 100vh;
    background-color: black;
}


.h2-contact {
    display: flex;
    justify-content: center;
}